<script>
export default {
  name: "CalculatorTabs",
  props: {
    tabs: { type: Array, required: true },
    activeTab: { type: Number, required: true }
  }
};
</script>

<template>
  <ul class="flex-shrink-0 flex w-full bg-gray-200 text-12">
    <li
      v-for="(tab, index) in tabs"
      :key="tab.name"
      class="flex-grow flex justify-center items-center px-24 py-10 cursor-pointer select-none"
      :class="{ 'bg-gray-300': activeTab === index }"
      @click="$emit('changeTab', index)"
    >
      {{ tab.name }}
    </li>
  </ul>
</template>
