<script>
import { Money } from "v-money";

export default {
  inheritAttrs: false,
  name: "FormInput",
  props: {
    label: { type: String, requried: true },
    id: { type: String, required: true }
  },
  components: { Money },
  computed: {
    attrs() {
      return {
        decimal: ".",
        thousands: " ",
        id: this.id,
        ...this.$attrs
      };
    }
  }
};
</script>

<template>
  <div class="w-full flex flex-col">
    <label :for="id" class="w-full mb-6 text-12">{{ label }}</label>
    <Money
      class="w-full bg-gray-200 rounded-lg h-28 text-center border-2 focus:bg-gray-300 focus:border-gray-200"
      v-bind="attrs"
      v-on="$listeners"
    />
  </div>
</template>
