<script>
import CalculatorTabs from "./CalculatorTabs";
import TabSimple from "./tabs/TabSimple";
import TabAverage from "./tabs/TabAverage";
import TabArbitrage from "./tabs/TabArbitrage";

export default {
  name: "TradeCalculator",
  components: { CalculatorTabs, TabSimple, TabAverage, TabArbitrage },
  data() {
    return {
      activeTab: 0
    };
  },
  computed: {
    tabs() {
      return [
        { name: "Simple", cmp: "TabSimple" },
        { name: "Average", cmp: "TabAverage" },
        { name: "Arbitrage", cmp: "TabArbitrage" }
      ];
    }
  }
};
</script>

<template>
  <div
    class="flex flex-col items-center bg-gray-300 shadow rounded-lg overflow-hidden"
  >
    <CalculatorTabs
      :tabs="tabs"
      :active-tab="activeTab"
      @changeTab="activeTab = $event"
    />
    <keep-alive>
      <component :is="tabs[activeTab].cmp"></component>
    </keep-alive>
  </div>
</template>
