@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

:root {
  font-size: 62.5%;
  font-family: "Roboto";
}

body {
  @apply text-14 leading-none;
}

:active {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  @apply bg-black text-white;
}

::-ms-clear {
  display: none;
}

:focus {
  outline: none;
}
