<script>
import TradeCalculator from "@/components/calculator/TradeCalculator";

export default {
  name: "App",
  components: {
    TradeCalculator
  }
};
</script>

<template>
  <div
    class="flex flex-col items-center justify-center bg-gray-100 h-1 min-h-screen text-center"
  >
    <h1 class="text-36 mb-60">Trading Calculator</h1>
    <TradeCalculator />
  </div>
</template>

<style lang="postcss">
@import "./assets/css/styles.css";
</style>
