<script>
export default {
  props: { requiredFunds: { type: Number, required: true } },
  filters: {
    currency(
      value,
      { thousands, suffix, decimal, precision } = {
        thousands: " ",
        suffix: " $",
        decimal: ".",
        precision: 2
      }
    ) {
      value = value.toFixed(precision);

      let [int, dec] = value.split(".");

      int = int.replace(/(\d)(?=(?:\d{3})+\b)/gm, `$1${thousands}`);

      return `${int}${decimal}${dec}${suffix}`;
    }
  }
};
</script>

<template functional>
  <div class="flex flex-col items-center w-full">
    <div
      class="flex flex-col justify-center items-center h-full min-h-200 w-65p py-30 v-between-children-10"
    >
      <slot />
    </div>
    <div
      class="flex-shrink-0 flex flex-col items-center justify-center bg-gray-200 w-full p-30"
    >
      <h2 class="text-16 uppercase mb-10">Required funds</h2>
      <p class="text-26">
        <template v-if="props.requiredFunds === 0">N/A</template>
        <template v-else>
          {{ props.requiredFunds | currency }}
        </template>
      </p>
    </div>
  </div>
</template>
