<script>
import BaseTab from "./BaseTab";
import FormInput from "../FormInput";

export default {
  name: "CalcAverageTab",
  components: { BaseTab, FormInput },
  data() {
    return {
      orderVolume: 0,
      exchangeFee: 0,
      addOrders: 0
    };
  },
  computed: {
    requiredFunds() {
      const { orderVolume, exchangeFee, addOrders } = this;
      return orderVolume * (1 + exchangeFee / 100) * (addOrders + 1);
    }
  }
};
</script>

<template>
  <BaseTab :required-funds="requiredFunds">
    <FormInput
      id="order-vol"
      label="Order volume"
      suffix=" $"
      v-model="orderVolume"
    />
    <FormInput
      id="ex-fee"
      label="Exchange fee"
      suffix=" %"
      v-model="exchangeFee"
    />
    <FormInput
      id="add-orders"
      label="Additional orders"
      :precision="0"
      v-model="addOrders"
    />
  </BaseTab>
</template>
