<script>
import BaseTab from "./BaseTab";
import FormInput from "../FormInput";

export default {
  name: "CalcArbitrageTab",
  components: { BaseTab, FormInput },
  data() {
    return {
      orderVolume: 0,
      exchangeFee: 0,
      buyFee: 0,
      sellFee: 0
    };
  },
  computed: {
    requiredFunds() {
      const { orderVolume, exchangeFee, buyFee, sellFee } = this;
      return (
        orderVolume *
        (1 + exchangeFee / 100) *
        (1 + buyFee / 100) *
        (1 + sellFee / 100)
      );
    }
  }
};
</script>

<template>
  <BaseTab :required-funds="requiredFunds">
    <FormInput
      id="order-vol"
      label="Order volume"
      suffix=" $"
      v-model="orderVolume"
    />
    <FormInput
      id="ex-fee"
      label="Exchange fee"
      suffix=" %"
      v-model="exchangeFee"
    />
    <FormInput id="buy-fee" label="Buy Fee" suffix=" %" v-model="buyFee" />
    <FormInput id="sell-fee" label="Sell Fee" suffix=" %" v-model="sellFee" />
  </BaseTab>
</template>
