<script>
import BaseTab from "./BaseTab";
import FormInput from "../FormInput";

export default {
  name: "CalcSimpleTab",
  components: { BaseTab, FormInput },
  data() {
    return {
      orderVolume: 0,
      exchangeFee: 0
    };
  },
  computed: {
    requiredFunds() {
      const { orderVolume, exchangeFee } = this;
      return orderVolume * (1 + exchangeFee / 100);
    }
  }
};
</script>

<template>
  <BaseTab :required-funds="requiredFunds">
    <FormInput
      id="order-vol"
      label="Order volume"
      suffix=" $"
      v-model="orderVolume"
    />
    <FormInput
      id="ex-fee"
      label="Exchange fee"
      suffix=" %"
      v-model="exchangeFee"
    />
  </BaseTab>
</template>
